
# Créé par https://www.toptal.com/developers/gitignore/api/linux,java,sublimetext,windows
# Modifier sur https://www.toptal.com/developers/gitignore?templates=linux,java,sublimetext,windows

### Java ###
# Fichier de classe compilé
*.classe

# Fichier journal
*.Journal

# Fichiers BlueJ
* .ctxt

# Outils mobiles pour Java (J2ME)
.mtj.tmp /

# Fichiers de package #
*.pot
*.guerre
* .nar
*.oreille
*.Zip *: français
* .tar.gz
* .rar

# journaux de plantage de la machine virtuelle, voir http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid *

### Linux ###
* ~

# fichiers temporaires qui peuvent être créés si un processus a toujours un handle ouvert d'un fichier supprimé
.fuse_hidden *

# Préférences du répertoire KDE
.annuaire

# Dossier corbeille Linux qui peut apparaître sur n'importe quelle partition ou disque
.Poubelle-*

# Les fichiers .nfs sont créés lorsqu'un fichier ouvert est supprimé mais est toujours en cours d'accès
.nfs *

### SublimeText ###
# Fichiers de cache pour Sublime Text
* .tmlanguage.cache
* .tmPreferences.cache
* .stTheme.cache

# Les fichiers de l'espace de travail sont spécifiques à l'utilisateur
* .sublime-workspace

# Les fichiers de projet doivent être archivés dans le référentiel, à moins qu'un
# proportion de contributeurs n'utilisera probablement pas Sublime Text
# * .sublime-project

# Fichier de configuration SFTP
sftp-config.json

# Fichiers spécifiques au contrôle de package
Contrôle des packages.
Package Control.ca-list
Paquet Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache /
Package Control.ca-certs /
Contrôle de paquet. Fusionné-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache

# Le paquet Sublime-github stocke un jeton github dans ce fichier
# https://packagecontrol.io/packages/sublime-github
Paramètres GitHub.sublime

### Les fenêtres ###
# Fichiers de cache de vignettes Windows
Thumbs.db
Thumbs.db: chiffrable
ehthumbs.db
ehthumbs_vista.db

# Fichier de vidage
* .stackdump

# Fichier de configuration du dossier
[Dd] esktop.ini

# Corbeille utilisée sur les partages de fichiers
$ RECYCLE.BIN /

# Fichiers Windows Installer
*.taxi
* .msi
* .msix
* .msm
* .msp

# Raccourcis Windows
* .lnk

